/*
    Dashboard styling
*/

/* Sidebar */

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: rgb(41, 41, 41);
    color: white;
    transition: all 0.3s ease;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul a, #a-sidebar-toggle {
    text-decoration: none;
    /*color: white;*/
    color: rgba(0, 0, 0, 0);
} .sidebar:not(.sidebar-hidden) ul a, .sidebar:not(.sidebar-hidden) ul #a-sidebar-toggle {
    color: white;
    transition: color 0.3s ease-in-out;
}

.sidebar ul li {
    padding: 30px 30px;
    cursor: pointer;
}

.sidebar ul li:hover {
    color: #ef9a38;
    background-color: rgb(20, 20, 20);
    transition: 0.3s;
}

.sidebar-hidden {
    visibility: hidden;
    width: 0;
}

#button-sidebar-toggle {
    border: 0;
    background-color: white;
    color: #ef9a38;
    padding: 0;
}

#button-sidebar-toggle:hover {
    text-decoration: underline;
}

/* Input */

.input-custom input {
    all: unset;
    border-radius: 0;
    border: 1px solid black;
    margin: 20px 0;
    padding: 8px 10px;
    /*min-width: 300px;*/
    width: 23%;
    min-width: 150px;
}

.input-custom input:hover {
    border: 1px solid rgb(185, 185, 185);
}

/* Table */

table.table-custom {
    border-top: 3px solid #ef9a38;
}

table.table-custom thead {
    background-color: #f5f5f5;
}

table.table-custom thead:last-child {
    text-align: right;
}

table.table-custom thead:last-child td {
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    white-space: nowrap;
}

table.table-custom select {
    border: 0;
    padding: 10px;
    color: grey;
    background-color: #f5f5f5;
    cursor: pointer;
    text-align: center;
}

table.table-custom select:hover {
    color: #ef9a38;
    background-color: #e4e4e4;
}

table.table-custom option {
    background-color: white;
    color: grey;
}

table.table-custom td a {
    padding: 10px;
}

table.table-custom td a:hover {
    background-color: #e4e4e4;
    cursor: pointer;
} table.table-custom td a:hover svg {
    fill: #ef9a38;
    background-color: #e4e4e4;
}

table.table-custom td a.a-disabled {
    pointer-events: none;
    cursor: default;
} table.table-custom td a.a-disabled svg {
    fill: rgb(185, 185, 185);
}

/* Misc */

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}