[ req ]
default_bits            = 8192
default_keyfile         = apscavenge.pem
distinguished_name      = req_distinguished_name
prompt                  = no
policy                  = policy_anything
req_extensions          = v3_req
x509_extensions         = v3_req

[ req_distinguished_name ]
commonName                      = localhost

[ v3_req ]
basicConstraints        = CA:FALSE

