/*
    Infrastructure styling
*/

/* Grid */

.custom-grid .row > div {
    min-height: 250px;
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
    padding: 14px 20px 20px;
    border: 0px;
    margin: 10px;
}

.custom-grid .row > div .title {
    color: #ef9a38;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 2.5;
}

.custom-grid .row > div button {
    all: unset;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 12px;
}

.custom-grid .row > div button:hover {
    cursor: pointer;
    color: white;
    background-color: #ef9a38;
    border: 1px solid #ef9a38;
}

.custom-grid .row > div button.action-disabled {
    /*cursor: default;*/
    color: grey;
    background-color: rgb(230, 230, 230);
    border: 1px solid grey;
} .custom-grid .row > div button.action-disabled:hover {
    color: black;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
}

.custom-grid .row > div a, .details-grid a {
    color: #ef9a38;
    text-decoration: none;
}

.custom-grid .row > div a:hover, .details-grid a:hover {
    text-decoration: underline;
}

.details-grid .row:first-child .col:first-child {
    min-height: 300px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    padding: 0;
    border: 0px;
    margin: 10px;
}

.details-grid .row:first-child .col:first-child button {
    border: 0;
    background-color: white;
    color: #ef9a38;
}

.details-grid .row:first-child .col:first-child button:hover {
    text-decoration: underline;
}

.details-grid .row:first-child .col:nth-child(2) {
    min-height: 250px;
    height: 100%;
    margin: 65px 10px 10px 10px;
}

.details-grid .row:first-child .col:nth-child(2) > div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
    padding: 14px 20px 20px;
    border-radius: 0;
}

.details-grid .row:first-child .col:nth-child(2) h3 input {
    all: unset;
    min-width: 140px;
    max-width: 400px;
    text-align: center;
}

.details-grid .row:first-child .col:nth-child(2) .seizure-title {
    font-size: 1.2rem;
    color: #ef9a38;
}

.details-grid .row:first-child .col:nth-child(3) {
    font-size: 0.875rem;
    height: 100%;
    padding: 14px 0px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 125px 10px 10px 10px;
}

.details-grid .row:first-child .col:nth-child(3) hr {
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}