{% extends "layout-nav.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block main_class %} class="mb-5"{% endblock %}

{% block content %}

<div class="sidebar sidebar-hidden">
    <ul>
        <a href="#"><li>Item1</li></a>
        <a href="#"><li>Item2</li></a>
        <a href="#"><li>Item3</li></a>
        <a id="a-sidebar-toggle"><li style="margin-top: 100%">Close</li></a>
    </ul>
</div>
<div class="mt-5">
    <p class="page-indicator">APScavenge <b>> <span class="underlined">Dashboard</b></span><span id="sidebar-toggle-container"> > <button id="button-sidebar-toggle">Toggle Sidebar</button></p></span>
</div>

{% endblock %}