{% extends "layout-base.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_class %} class="img-bg"{% endblock %}

{% block main_class %} class="mt-2 mb-5"{% endblock %}

{% block content %}

<div class="login-box">
    <img class="mb-3" src="{% static 'img/aps.png' %}" alt="aps-logo"/>
    <p>You are accessing to the service:<br/><b>APScavenge</b></p>
    <p style="color: red;" class="mt-4 mb-4">
        <!-- authentication messages -->
        {% if request.session.auth_message|length > 0 %}
            {{ request.session.auth_message }}
        <!-- login messages -->
        {% elif login_message is not None %}
            {{ login_message }}
        {% endif %}

    </p>
    <p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div><b>Username</b></div>
            <p>{{login_form.username}}</p>
            <div><b>Password</b></div>
            <p>{{login_form.password}}</p>
            <br/>
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'index' %}"><button class="mt-3">Return</button></a>
    </p>
</div>

{% endblock %}