{% extends "layout-nav.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title_ext %}Dashboard - {% endblock %}

{% block main_class %} class="mb-5"{% endblock %}

{% block content %}

<script src="{% static 'js/dashboard.js' %}" defer></script>
<script type="text/javascript">
    /* Varaibles declaration for external javascript file */
    const dashboardURL = '{% url "dashboard" %}';
    const dashboardStatsURL = '{% url "dashboard-stats" %}';
    let requestModel = '{{ table_data.current_model }}';
    let areasStatsData = null;
</script>

<div class="sidebar">
    <ul id="ul-sidebar">
        <a href="{% url 'dashboard' %}"><li>Data</li></a>
        <a href="{% url 'dashboard-stats' %}"><li>Stats</li></a>
        <a class="sidebar-hidden" id="a-sidebar-toggle"><li style="margin-top: 50%">Close</li></a>
    </ul>
</div>

{% block dashboard_content %}{% endblock %}

{% endblock %}