{% extends "layout-nav.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title_ext %}Dashboard - {% endblock %}

{% block main_class %} class="mb-5"{% endblock %}

{% block content %}

<div class="sidebar">
    <ul>
        <a href="#"><li>Item1</li></a>
        <a href="#"><li>Item2</li></a>
        <a href="#"><li>Item3</li></a>
        <a class="sidebar-hidden" id="a-sidebar-toggle"><li style="margin-top: 100%">Close</li></a>
    </ul>
</div>
<div class="mt-5">
    <p class="page-indicator">APScavenge <b>> <span class="underlined">Dashboard</b></span><span id="sidebar-toggle-container"> > <button id="button-sidebar-toggle">Toggle Sidebar</button></p></span>

    {% include "dashboard_table.html" %}

    <script type="text/javascript">
        function submitTableForm() {
            let csrf_token = $('[name="csrfmiddlewaretoken"]').val();   // Include CSRF token in AJAX request headers
            let formData = $('#dashboard-table-form').serialize();  // Serialize form data
            formData += '&ajaxTableUpdate=' + encodeURIComponent('True');

            $.ajax({
                type: 'POST',
                url: '{% url "dashboard" %}',
                data: formData,
                headers: {
                    'X-CSRFToken': csrf_token
                },
                success: function (response) {
                    $('#dashboard-table-form').html(response);
                }
            });
        }

        // Event handler for form submission
        $(document).on('submit', '#dashboard-table-form', function (e) {
            e.preventDefault();
            submitTableForm();
        });

        // Event handler for <a> elements
        $(document).on('click', '#dashboard-table-form .prevent-select a', function (e) {
            e.preventDefault();
            submitTableForm();
        });

        // Event handler for <select> element
        $(document).on('change', '#dashboard-table-form select', function () {
            submitTableForm();
        });
    </script>

    <!--
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    -->
</div>

{% endblock %}