{% extends "layout-nav.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/infrastructure.css' %}">
{% endblock %}

{% block title_ext %}{{ agentstatus.area }} Area Agent - {% endblock %}

{% block main_class %} class="mt-5 mb-5"{% endblock %}

{% block content %}

<div class="page-indicator">APScavenge > Infrastructure <b>> <span class="underlined mb-5">{{ agentstatus.area }} Area Agent</b></span></div>

<div class="container details-grid">
    <div class="row">
        <div class="col">
            <div style="background-color: black; color: white; padding: 20px 10px 5px 10px;"><h4>options</h4></div>
            <div style="padding: 20px 10px 5px 10px;"><a href="#">clear deny list</a></div>
            <div style="padding: 20px 10px 5px 10px;"><a href="#">sample option</a></div>
        </div>
        <div class="col">
            <h3>
                &lt;
                <form method="post" id="alias-name-form" enctype="multipart/form-data" style="display: inline-block;">
                    {% csrf_token %}
                    <input style="width: {{ agentstatus.alias_name|length|mult:1.3 }}ch;" type="text" id="input-alias-name" oninput="adjustWidth(this)" name="alias-name" value="{{ agentstatus.alias_name }}" placeholder="alias name">
                    <svg width="18" fill="rgb(205, 205, 205)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 712"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/></svg>
                </form>
                &gt;
                Agent
            </h3>

            {% for email, details in agent_seizures.items %}
            <div>
                <span class="seizure-title">{{ email }}</span>

                {% for detail in details %}
                <div>
                    <span class="pl-2 pr-2">{{ detail.0 }}</span>
                    <span class="pl-2 pr-2" style="border-left: 2px solid #ef9a38;">{{ detail.1 }}</span>
                    <span class="pl-2 pr-2" style="border-left: 2px solid #ef9a38;">{{ detail.2 }}</span>
                </div>
                {% endfor %}
            </div>
            <hr/>
            {% endfor %}

            {% if agent_seizures|length == 0 %}
            <div class="seizure-title">No recent captures</div>
            {% endif %}
        </div>
        <div class="col">
            <div>{% if agentstatus.is_online %}<b style="color: rgb(80, 202, 80)">Online</b>{% else %}<b style="color: rgb(226, 96, 96)">Offline</b>{% endif %}</div>
            <hr>
            <div><b>ID:<br/></b>{{ agentstatus.id }}</div>
            <hr>
            <div><b>IP:<br/></b>{{ agentstatus.ip }}</div>
            <hr>
            <div><b>Area:<br/></b>{{ agentstatus.area }}</div>
            <hr>
            <div><b>Attacking:<br/></b>{{ agentstatus.is_attacking }}</div>
            <hr>
            <div><b>Last update:<br/></b>{{ agentstatus.last_heartbeat }}</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function adjustWidth(input) {
        input.style.width = (input.value.length * 1.3) + 'ch';
    }

    function submitAliasNameForm() {
        let csrf_token = $('[name="csrfmiddlewaretoken"]').val();   // Include CSRF token in AJAX request headers
        let formData = $('#dashboard-table-form').serialize();  // Serialize form data
        formData += '&ajaxAliasNameUpdate=' + encodeURIComponent(document.getElementById('input-alias-name').value);

        $.ajax({
            type: 'POST',
            url: '{% url "infrastructure-agent" area=agentstatus.area %}',
            data: formData,
            headers: {
                'X-CSRFToken': csrf_token
            },
            success: function (response) {
            }
        });
    }

    // Event handler for form submission
    $(document).on('submit', '#alias-name-form', function (e) {
        e.preventDefault();
        submitAliasNameForm();
        $('#input-alias-name').blur();
    });
</script>

{% endblock %}