{% extends "layout-nav.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/infrastructure.css' %}">
{% endblock %}

{% block title_ext %}{{ agentstatus.area|upper }} Agent - {% endblock %}

{% block main_class %} class="mt-5 mb-5"{% endblock %}

{% block content %}

<div class="page-indicator">APScavenge > Infrastructure <b>> <span class="underlined mb-5">{{ agentstatus.area|upper }} Agent</b></span></div>

<div class="container details-grid">
    <div class="row">
        <div class="col">
            <div style="background-color: black; color: white; padding: 20px 10px 5px 10px;"><h4>options</h4></div>
            <div style="padding: 20px 10px 5px 10px;"><a href="#">clear deny list</a></div>
            <div style="padding: 20px 10px 5px 10px;"><a href="#">sample option</a></div>
        </div>
        <div class="col">
            <h3>&lt;{{ agentstatus.area|upper }}&gt; AREA AGENT</h3>
        </div>
        <div class="col">
            <div>{% if agentstatus.is_online %}<b style="color: rgb(80, 202, 80)">Online</b>{% else %}<b style="color: rgb(226, 96, 96)">Offline</b>{% endif %}</div>
            <hr>
            <div><b>ID:<br/></b>{{ agentstatus.id }}</div>
            <hr>
            <div><b>IP:<br/></b>{{ agentstatus.ip }}</div>
            <hr>
            <div><b>Attacking:<br/></b>{{ agentstatus.is_attacking }}</div>
            <hr>
            <div><b>Last update:<br/></b>{{ agentstatus.last_heartbeat }}</div>
        </div>
    </div>
</div>

{% endblock %}