{% extends "layout-nav.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/infrastructure.css' %}">
{% endblock %}

{% block title_ext %}Infrastructure - {% endblock %}

{% block main_class %} class="mt-5 mb-5"{% endblock %}

{% block content %}

<div class="page-indicator">APScavenge <b>> <span class="underlined mb-5">Infrastructure</b></span></div>

{% include "infrastructure_grid.html" %}

<script type="text/javascript">
    function submitGridForm(agentAction) {
        let csrf_token = $('[name="csrfmiddlewaretoken"]').val();   // Include CSRF token in AJAX request headers
        let formData = $('#infrastructure-grid-form').serialize();  // Serialize form data
        formData += '&ajaxGridUpdate=' + encodeURIComponent('True');

        formData += '&agentAction=' + encodeURIComponent(agentAction);

        $.ajax({
            type: 'POST',
            url: '{% url "infrastructure" %}',
            data: formData,
            headers: {
                'X-CSRFToken': csrf_token
            },
            success: function (response) {
                $('#infrastructure-grid-form').html(response);
            }
        });
    }

    // Event handler for form submission
    //$(document).on('submit', '#infrastructure-grid-form', function (e) {
    //    e.preventDefault();
    //    submitGridForm();
    //});

    $(document).on('click', '#infrastructure-grid-form button', function (e) {
        e.preventDefault();
        submitGridForm($(this).attr('id'));
    });
</script>

{% endblock %}