{% extends "layout-nav.html" %}
{% load static %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/infrastructure.css' %}">
{% endblock %}

{% block title_ext %}Infrastructure - {% endblock %}

{% block main_class %} class="mt-5 mb-5"{% endblock %}

{% block content %}

<script src="{% static 'js/infrastructure.js' %}"></script>
<script type="text/javascript">
    /* Varaibles declaration for external javascript file */
    const infrastructureURL = '{% url "infrastructure" %}';
</script>

<div class="page-indicator">APScavenge <b>> <span class="underlined mb-5">Infrastructure</b></span></div>

{% include "infrastructure_grid.html" %}

{% endblock %}